# Attachments & Document Binaries
attachments/
**/attachments/
attachments*/
**/attachments*/
*.pdf
*.docx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Environments / Config
.env

# OS / IDE
.DS_Store
.vscode/
.idea/
